@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f06f69;
  background-image: linear-gradient(315deg, #f06f69 0%, #be8e8b 100%);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

img {
  width: 100px;
  padding-bottom: 32px;
}

.quiz-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(196, 69, 69);
  width: 600px;
  overflow: hidden;
}

.quiz-header {
  padding: 80px;
}

h2 {
  padding: 32px;
  text-align: center;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 20px;
  margin: 16px 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: rgba(196, 69, 69);
  color: white;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-family: inherit;
  padding: 20px;
}

button:hover {
  background-color: rgba(187, 26, 26);
}

button:focus {
  outline: none;
  background-color: rgba(136, 20, 20);
}
